@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
body {
  align-items: center;
  display: flex;
  font-family: 'Nunito Sans', sans-serif;
  font-size: .92em;
  font-weight: bold;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.nav {
  overflow: hidden;
}

.options {
  display: flex;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.option {
  align-items: center;
  color: #444;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 50px;
  min-width: 100px;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  transition: color 200ms, fill 200ms;
}

.index0 .option:nth-child(1) {
  color: #4080ff;
  fill: #4080ff;
}

.index1 .option:nth-child(2) {
  color: #4080ff;
  fill: #4080ff;
}

.index2 .option:nth-child(3) {
  color: #4080ff;
  fill: #4080ff;
}

.bar {
  background: #4080ff;
  height: 3px;
  margin-bottom: 8px;
  position: relative;
  width: 100%;
}

/*.cover {
  background: #fff;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.left .cover1 {
  transition: transform 200ms;
}
.left .cover2 {
  transition: transform 200ms 120ms;
}
.right .cover1 {
  transition: transform 200ms 120ms;
}
.right .cover2 {
  transition: transform 200ms;
}
.index0 .cover1 {
  transform: translateX(-95%) skew(45deg);
}
.index0 .cover2 {
  transform: translateX(28.33%) skew(-45deg);
}
.index1 .cover1 {
  transform: translateX(-61.67%) skew(45deg);
}
.index1 .cover2 {
  transform: translateX(61.67%) skew(-45deg);
}
.index2 .cover1 {
  transform: translateX(-28.33%) skew(45deg);
}
.index2 .cover2 {
  transform: translateX(95%) skew(-45deg);
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
